node {
    shape: circle;
    size: 40px;
    fill-color: lightsteelblue;
    stroke-color: steelblue;
    stroke-width: 2px;
}

node.accepting {
    shape: diamond;
    size: 15px;
    stroke-color: black;
    stroke-width: 2px;
    fill-color: green;
}

node.blocking {
    shape: diamond;
    size: 15px;
    stroke-color: black;
    stroke-width: 2px;
    fill-color: red;
}

node.lidar {
   fill-color: purple;
}


node.train {
    shape: box;
    size: 20px;
    fill-color: slategray;
    stroke-color: dimgray;
    stroke-width: 2px;
    z-index: 100;
}

edge {
    size: 2px;
    shape: line;
}

edge.occupied {
	fill-color: red;
}


